.customCell:hover .cellType {
  background-color: var(--cell-hover);
  color: var(--foreground-color);
}
.addRuleDiv:hover span {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
.addRuleDiv:hover .plusIcon {
  color: var(--secondary-color);
}
.overlay {
  position: absolute;
  top: 300px;
}
.custom-popover .ant-popover-inner-content {
  padding: 0;
}
.custom-popover .ant-popover-inner {
  padding: 0;
}
.select .ant-select-selector {
  border-radius: 0;
}
